/* general */
 text {
	font-family: "Colfax-Light";
	fill: white;
}

.background {
	width: 100%;
	height: 100%;
	fill: black;
  }

.bgPopUp {
	x: 0;
	y: 0;
	width: 100%;
	height: 100%;
	fill: black;
	opacity: 0.9;
}

/* header */
.txtHeader {
	font-size: 20;
	y: 8%+6;
}

.bgHead {
	x: 0;
	y: 0;
	width: 100%;
	height: 15%;
	fill: black;
}

.headSeparator{
	x1: 0;
	x2: 100%;
	y1: 15%;
	y2: 15%;
	stroke-width: 1;
	fill: fb-light-gray;
}

#txtUnsynced {
	text-anchor: start;
	x: 5%;
}

#txtClock {
	text-anchor: end;
	x: 95%;
}

/* main screen */
#welcomeText {
	x: 10%;
	y: 18%;
	width: 80%;
	height: 30%;
	text-anchor: middle;
	display-align: center;
	font-size: 32;
	font-family: "Colfax-Light";
	fill: white;
}

#btnNewWeight {
	x: 10%;
	y: 50%;
	width: 80%;
	fill: fb-lime;
}

.tumbler {
	y: 50%-50;
	fill: grey;
}

.tumbler text {
	font-family: "Colfax-Light";
	font-size: 80; 
	text-anchor: middle;
	x: 50%;
	fill: white; 
}

.tumblerInt {
	x: 0;
	width: 50%;
}

.tumblerIntC {
	x: 0;
	width: 17%;
}

.tumblerIntD {
	x: 17%;
	width: 17%;
}
.tumblerIntS {
	x: 34%;
	width: 17%;
}

.tumblerFloat {
	x: 51%;
	width: 25%;
}

.tumblerItem {
	height: 90;
}

.tumblerSeparator {
	font-size: 80;
	text-anchor: middle;
	x: 52%;
	y: 50%+30;
}

.tumblerUnit {
 font-size: 56;
 text-anchor: start;
 x: 75%;
 y: 50%+30;
}

/* 2nd screen */
.bgList {
	x: 0;
	y: 12%+2;
	width: 100%;
	height: 80%;
	opacity: 1;
}

.listWeightLog {
	height: 60;
}

.txtListWeightLog {
	font-size: 22;
}

.header {
	font-size: 24;
	text-anchor: middle;
	fill: fb-extra-dark-gray;
	x: 50%;
	y: 1%+24;
}

.headRect {
	x: 0;
	y: 0;
	width : 100%;
	height: 12%;
}

.footRect {
x: 0;
y: 92%;
width : 100%;
height: 8%;
fill: black;
}

.headLine {
x1: 0;
x2: 100%;
y1: 12%;
y2: 12%;
stroke-width: 2;
fill: fb-light-gray;
}

