/* general */
.txtColor {
 fill: white;
}

/* header */
.txtHeader {
	font-size: 12;
	y: 5%+6;
}

#txtUnsynced {
	text-anchor: start;
	x: 5%;
}

#txtClock {
	text-anchor: end;
	x: 95%;
}

#headSeparator{
	x1: 0;
	x2: 100%;
	y1: 8%;
	y2: 8%;
	stroke-width: 1;
	fill: fb-grey;
}

/* main screen */

#txtInfo {
	font-size: 36;
	text-anchor: middle;
	x: 50%;
	y: 30%+18;
}

#btnNewWeight {
	y: 80%;
	fill: fb-lime;
}

.tumbler {
	height: 180;
	y: 50%-50;
	fill: grey;
}

.tumblerInt {
	x: 0;
	width: 60%;
}

.tumblerFloat {
	x: 70%;
	width: 30%;
}

.tumblerInt text {
	text-anchor: end;
}

.tumblerFloat text {
	text-anchor: start;
}

.tumblerItem {
	height: 90;
}

.tumblerItem text {
	font-size: 80;
	fill: white;
	x: 5;
}

.tumblerSeparator {
	font-size: 80;
	text-anchor: middle;
	x: 66%;
	y: 50%+30;
}

.tumblerUnit {
 font-size: 80;
 text-anchor: start;
 x: 92%;
 y: 50%+30;
}

/* 2nd screen */
#txtWeightList {
	x: 0;
	y: 10%;
	width: 100%;
	height: 90%;
	font-size: 12;
	text-anchor: start;
	display-align: before;
}